<div class="row" id="header">
  <div class="col-12">
    <h1>Welcome to App Store</h1>
  </div>
</div>
<div class="row" id="body">
  <div class="col-3" id="menu">
  <ul>
    <li>Featured</li>
    <li>Categories</li>
    <li>Top Charts</li>
    <li>Search</li>
    <li>Updates</li>
  </ul>
  </div>
  <div class="col-6">
    <table border="1">
      <thead>
        <tr>
          <th><button (click)="sortByNoAsc()">正序排列</button></th>
          <th><button (click)="sortByNoDesc()">倒序排列</button></th>
          <th><button (click)="sortByNoRadom()">随机打乱</button></th>
          <th><button (click)="deleteLastApp()">删除最后一个</button></th>
          <th><button (click)="newApp()">新增一个</button></th>
        </tr>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Platform</th>
          <th>Download</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of apps">
          <td>{{app.no}}</td>
          <td>{{app.name}}</td>
          <td>{{app.platform}}</td>
          <td>{{app.download}}</td>
          <td>{{app.rating}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3"></div>
</div>
<div class="row">
  <div class="col-12" id="footer">Copyright Gary Huang 2017</div>
</div>